@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Open+Sans:ital,wght@1,300&family=Roboto&family=Ubuntu:wght@300&display=swap');

html *{ 
    background-color: #d3d3d3 ;
    font-family: 'Ubuntu', sans-serif;
}
body {
    text-align: center;
}
h1 {
    font-size: 55px;
}
#controlBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.barButtons {
    margin: 10px;
}
.buttons {
    appearance: none;
    background-color: #000000;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    margin-bottom: 10px;
    min-height: 45px;
    min-width: 0;
    padding: 16px 24px;
    text-align: center;
    width: 100%;
}
.container {
    display: flex;
    justify-content: center;
}
.sketchContainer { 
    border: 2px solid black;
    width: 400px;
    height: 400px;
    margin-left: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.divs {
    border: 1px solid gray;
    flex-grow: 1;
}
.div-container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}